on:
  push:
    branches:
      - test

jobs:
  export_web:
    name: Export Web Template
    runs-on: ubuntu-22.04
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install python3
          pip3 install scons
      - name: Setup emsdk
        uses: mymindstorm/setup-emsdk@v14
        with:
          # Make sure to set a version number!
          version: 3.1.64
          # This is the name of the cache folder.
          # The cache folder will be placed in the build directory,
          #  so make sure it doesn't conflict with anything!
          actions-cache-folder: 'emsdk-cache'
      - name: Verify emcc
        run: emcc -v
      - name: Compile GDExtensions
        run: |
          cd extensions/tetriz_core
          scons platform=web target=template_release threads=no
          
      
